<nav class="navbar navbar-toggleable-md fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fab fa-twitter"></i></span>
  </button>

  <div class="collapse navbar-collapse container ">
    <!-- Navbar navigation links -->
    <ul class="navbar-nav mr-auto d-flex flex-row mr-4">
      <li class="nav-item active mr-4">
        <a class="nav-link home" href="#"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="#"><i class="far fa-user"></i> Profile</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="#"><i class="far fa-bell"></i> Notifications</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="#"><i class="far fa-envelope"></i> Messages</a>
      </li>
    </ul>
    <!-- Navbar Search form -->
    <form class="navbar-form" role="search">
      <div class="input-group">
        <input type="text" class="form-control input-search" placeholder="Search Twitter" name="srch-term" id="srch-term">
      </div>
    </form>
    <!-- Navbar User menu -->
    <div class="dropdown navbar-user-dropdown">
      <button class="btn btn-secondary dropdown-toggle btn-circle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <!-- Navbar Tweet button -->
    <button class="btn btn-search-bar">Tweet</button>
  </div>
</nav>

